.admin-content {
    margin: 24px;
    padding: 24px;
    background: #fff;
    font-size: 18px;
  }
  
  @media screen and (max-width: 768px) {
    .admin-content {
      margin: 8px;
      padding: 12px;
      font-size: 14px; 
    }
  
    .ant-layout-footer {
      font-size: 12px !important;
      padding: 12px !important;
    }
  
    .ant-card-head-title {
      font-size: 16px !important;
    }
  
    .ant-btn {
      font-size: 12px !important;
    }
  }
  